# ADMIN
ADMIN_PASSWORD=change_me
ADMIN_SECRET=change_me_too

# WALLET SEEDS
ETH_SEED=your_12_or_24_word_eth_seed_phrase
SOLANA_SEED=your_12_or_24_word_sol_seed_phrase
TRON_SEED=your_12_or_24_word_tron_seed_phrase
TRON_PRIVATE_KEY=your_tron_private_key
TRON_ADDRESS=your_tron_address

# OPTIONAL
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
ALLOWED_ORIGINS=*
RENDER=true
PORT=8000
